@font-face {
  font-family: myFont;
  src: url('./assets/quantify/Quantify.ttf');
}


.home {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

body {
  background: linear-gradient(45deg, #333, #000);
  background-color: #000000;
  color: #fff;
  font-family: myFont;
  margin: 0;
  padding: 0;
  
}


h1, h2 {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul li {
  margin: 10px 0;
}

a {
  color: #00ffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div {
  padding: 20px;
}

.resume {
  text-align: center;
  margin: 40px auto;
  padding: 20px;
}

.resume a {
  font-size: 20px;
  font-weight: bold;
  color: #00bfff;  
  text-decoration: none;
  padding: 12px 24px;
  background-color: #000;  
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.resume a:hover {
  background-color: #007bff;  
  color: #fff;  
  transform: scale(1.1);  
}

.resume a:focus {
  outline: none; 
  border: 2px solid #007bff; 
}


.contact {
  text-align: center;
  margin-top: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
  justify-content: center; 
  align-items: center; 
  min-height: 10vh; 
}

.project-card {
  width: 500px;
  height: 300px;
  perspective: 1000px; 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d; 
}

.project-card:hover .card-inner {
  transform: rotateY(180deg); 
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 20px;
  background-color: #000000;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s; 
}

.card-front {
  background-color: #000000; 
  color: #fff;
}

.card-back {
  background-color: #000000; 
  transform: rotateY(180deg); 
  color: #ffffff;
}

.project-card a {
  color: #db56db;
  text-decoration: rgb(250, 250, 250);
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}
